@page
@using AlobarShopp.Models
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 style="text-align:center; color:black">Kayıt Formu</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Name" class="form-control" placeholder="Ad" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Surname" class="form-control" placeholder="Soyad" />
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="E-Mail" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Telefon No" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Adress" class="form-control" placeholder="Adres" />
                <span asp-validation-for="Input.Adress" class="text-danger"></span>
            </div><div class="form-group">
                <input asp-for="Input.Sehir" class="form-control" placeholder="Şehir" />
                <span asp-validation-for="Input.Sehir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Semt" class="form-control" placeholder="Semt" />
                <span asp-validation-for="Input.Semt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.PosaKodu" class="form-control" placeholder="Posta Kodu" />
                <span asp-validation-for="Input.PosaKodu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" placeholder="Şifre" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Şifre Tekrar" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if (User.IsInRole(Diger.Role_Admin))
            {
                <div class="form-group">
                    @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList, "Rol Seç", new {@class = "form-control"})
                </div>
            }
            <button type="submit" class="btn btn-success form-control"><i class="bi bi-person-add"></i> Üye Ol</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <img src="~/images/image/0011732719_25.jpg" />
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
